<!DOCTYPE html>
<html>
<head>
  <title>Claudia's Site</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <h1><strong>Claudia's Site</strong></h1>
  <h3>Home page</h3>
  <p>My name is Claudia Vazquez. I am currerntly a stuent at MSCP. I love to hang out with my friends and have a good time. Im friendly and charming.
  I always try my best in life and school.My favorite animals are pink flamingos.And my favorite season is spring because thats the season of my birthday.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY_l7D3RwrZXhPU0C5KLzzCyTwOQhyH7iDwq-V4O4C2hKaZznEhQ"/>
<ul>
    <li><a href= "AboutMe.html">About Me</a></li>
    <li><a href= "Resume.html">Resume</a></li>
    <li><a href= "Funpage.html">Fun Page</a></li>
   </ul>
</body> 
</html>